<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/styles/css/main.css}" rel="stylesheet" />
    <script type="application/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
	<h1 th:text="#{blue.trail.planner}">Kéktúra tervező</h1>
    <form action="#" th:action="@{/routeplanning}" th:object="${bluetrailPlannerModel}" method="post">
        <p th:text="#{start.point}" /> 
        
        <select th:field="${bluetrailDisplayContext.startPointSection}" id="start-section" onchange="changeStampSelector('start')">
            <option th:each="section : ${bluetrailDisplayContext.startPointSections}"
                th:value="${section.officialId}"
                th:text="${section.officialId + ' - ' + section.region}">
            </option>
        </select>
        
        <select th:field="*{startPoint}" id="start-point" >
            <option th:each="stamp : ${bluetrailDisplayContext.startPoints}"
                th:value="${stamp.number}"
                th:text="${stamp.number + ' - ' + stamp.name}">
            </option>
        </select>
        
        <p th:text="#{end.point}" />

        <select th:field="${bluetrailDisplayContext.endPointSection}" id="end-section" onchange="changeStampSelector('end')">
            <option th:each="section : ${bluetrailDisplayContext.endPointSections}"
                th:value="${section.officialId}"
                th:text="${section.officialId + ' ' + section.region}">
            </option>
        </select>

        <select th:field="*{endPoint}" id="end-point" >
            <option th:each="stamp : ${bluetrailDisplayContext.endPoints}"
                th:value="${stamp.number}"
                th:text="${stamp.number + ' - ' + stamp.name}">
            </option>
        </select>        

        <p th:text="#{trip.date}" />

        <input type="date" th:field="*{hikeDay}" />

        <p th:text="#{home.address}" />
        <input type="submit" th:value="#{planning}" />
    </form>

    <div th:if="${bluetrailDisplayContext.result}">
        <br>
        <p th:text="${bluetrailDisplayContext.startPoint.name} + ' - ' + ${bluetrailDisplayContext.endPoint.name}" />
        <p th:text="'Distance: ' + ${bluetrailDisplayContext.distance}" />
        <p th:text="'Time: ' + ${bluetrailDisplayContext.time}" />
        <p th:text="'Elevation: ' + ${bluetrailDisplayContext.elevation}" />

        <p th:if="${!bluetrailDisplayContext.oneDay}" th:text="#{not.one.day}" />
    </div>
</body>

<script>
    function changeStampSelector(currentSelector) {
        var section = $("#" + currentSelector + "-section").val();
        $.get( "/sectionchange?section=" + section, function( data ) {
            $("#"  + currentSelector + "-point").empty();
            $.each(data, function(key, value) {
                var option = "<option value = " + key + ">" + key + " - " + value +  "</option>";
                $("#"  + currentSelector + "-point").append(option);
            });
        });
    };
</script>

</html>